---
export const prerender = true;
export const partial = true;

import { getLangStaticPaths } from '@/lib/getLangStaticPaths';
import fs from 'fs/promises';
import path from 'path';

export const getStaticPaths = getLangStaticPaths;

const { lang } = Astro.params;

const data = JSON.parse(
	await fs.readFile(
		path.resolve(`src/i18n/${lang}/tests/das/descriptions.json`),
		'utf-8',
	),
);
---

<p>{data.love[0]}</p>
<p>{data.love[1]}</p>
<p>{data.love[2]}</p>
<p>{data.love[3]}</p>
<p>{data.love[4]}</p>
